<nav class="light-blue accent-1">
  <div class="nav-wrapper">
    <a href="/user/<%= current_user.id %>" class="brand-logo left">Tender</a> 
    <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-left:1000px">
      <li><a href="/user/<%= current_user.id %>">HOME</a></li>
      <li><a href="/logout">LOG OUT</a></li>
    </ul>
  </div>
</nav>

<div id="count"></div>
<h4 class="font center-align">You are chatting with <span class="name"><%= @match_id.first_name %></span></h4>

<div id="chatbox">
</div>

 <div class="row ">
    <form class="col s12" id="chat-form">
      <div class="row">
        <div class="input-field col s4">
        <input type="hidden" id="chat-name" value="<%= current_user.first_name%>">
        <input type="hidden" value="<%= @match_id.id %>" id="match_id">
        <input id="textbox" class="input-filed col s12" placeholder="Enter message here">
        </div>
        <input class="btn waves-light light-blue accent-1 send" type="submit" value="Send">
    </form>
  </div>

<script type="text/javascript">
    var socket = io.connect("http://127.0.0.1:8000", {force_connection: true});
    
    socket.on("welcome", function(){
        $("#chatbox").append($("#chat-name").val() +" has entered chatroom</p>")
    })

    $("#chat-form").submit(function(){
        var info = $("#textbox").val();
        var name = $("#chat-name").val()
        var message = name + " says: " + info;
        socket.emit("message", {message: message})
        $("#textbox").val("");
        return false;
    })

    socket.on("newMessage", function(response){
     $("#chatbox").append("<p>" + response.message + "</p>");
    });

    socket.on("feed", function(response){
        for(var i = 0; i < response.messageFeed.length; i++) {
            $("#chatbox").append("<p>" + response.messageFeed[i].message + "</p>")
            $("#count").append(response.messageFeed.length);
        }
        var match_id = $("#match_id").val();
        $.post("/count", data: {count: response.messageFeed.length, match_id: match_id}, function(res){
            console.log(res.result);
        })
    });    
</script>