<nav>
  <div class="nav-wrapper light-blue accent-1">
    <div class="col s12">
      <a href="/user/<%= @user.id %>" class="breadcrumb">Home</a>
    </div>
  </div>
</nav>


  <div class="containerRegister container">
    <div class="row">
      <div class="input-field col s6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit Your Profile</h3>
          </div>
          <div class="panel-body">
            <form action= "/users/<%=@user.id%>/update" method="post" enctype="multipart/form-data">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <fieldset class="z-depth-1">
              <div class="form-group">
                <p>
                  First Name:
                <input class="form-control validate" name="user[first_name]" type="text" value="<%= @user.first_name %>">
                </p>
              </div>
              <div class="form-group">
                <p>
                  Last Name:
                <input class="form-control validate" value="<%=@user.last_name%>" name="user[last_name]" type="text">
                </p>
              </div>
              <div class="form-group">
                <p>
                  Email:
                  <input class="form-control validate" value="<%=@user.email%>" name="user[email]" type="email">
                </p>
              </div>
              <div class="form-group">
                <p>
                  Height:
                <input class="form-control validate" value="<%=@user.height%>" name="user[height]" type="number" step="any">
                </p>
              </div>
              <div class="form-group">
                <p>
                  Nationality:
                <input class="form-control validate" value="<%=@user.nationality%>" name="user[nationality]" type="text">
              </p>
              </div>
              <div class="form-group">
                <p>
                  Sex:
                  <select name="user[sex]">
                    <% gender.each do |g| %>
                    <% if @user.sex == g %>
                    <option value="<%= g %>" selected><%= g %></option>
                    <% else %>
                    <option value="<%= g %>"><%= g %></option>
                    <% end %>
                    <% end %>
                  </select>
              </p>
              </div>
              <div class="form-group">
                <p>
                  City:
                  <select name="user[city]">
                    <% cities.each do |city| %>
                    <% if city == @user.city %>
                      <option value="<%= city %>" selected><%= city %></option>
                    <% else %>
                      <option value="<%= city %>"><%= city %></option>
                    <% end %>
                    <% end %>
                  </select>
                </p>
              </div>
              <div class="form-group">
                <p>
                  State:
                <select name="user[state]">
                  <% us_states.each do |state| %>
                  <% if state == @user.state%>
                    <option value="<%= state %>" selected> <%= state %></option>
                  <% else %>
                    <option value="<%= state %>"><%= state %></option>
                  <% end %>
                  <% end %>
                </select>
              </p>
              </div>
              <div class="form-group">
                <p>
                  Birthday:
                <input class="form-control validate" value="<%=@user.birthday%>" name="user[birthday]" type="date">
              </p>
              </div>
              <div class="form-group">
                <p>
                  Password:
                <input class="form-control validate" placeholder="Password" value="<%=@user.password%>" name="user[password]" type="password">
              </p>
              </div>
              <div class="form-group">
                <p>
                  Password Confirmation:
                <input class="form-control validate" placeholder="Password Confirmation" value="<%=@user.password_confirmation%>" name="user[password_confirmation]" type="password">
              </p>
              </div>
              <div class="form-group">
                <p> 
                  Profile Picture:
                  <input class="form-control validate" value="<%=@user.avatar%>" name="user[avatar]" type="file">
                </p>
              </div>
              <input type="hidden" name="_method" value="patch">
              <input class="btn waves-light btn-large light-blue accent-1" type="submit" value="Edit">
              </fieldset>
            </form>
          </div>
          <a href="/personal/<%=@user.id%>/edit">Edit Your Personal Questions</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('select:not([multiple])').material_select();
  </script>

 