<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo left">Tender</a> 
	  <ul id="nav-mobile" class="right">
	    <li class="mini_pic">Signed in as: <%= @user.first_name %>
	    </li> 
	    <li>
	    	<img width="50" height="50" src="<%= @user.avatar.url %>" style="margin-top:7px" alt="profile_pic" class="circle">
		</li>
		<li><a href="/user/<%= current_user.id %>">DASHBOARD</a></li>
	    <li><a href="/logout">LOG OUT</a></li>
	  </ul>
	</div>
</nav>
<div class="container">
    <div class="row">
		<h1 class="left font">Your Deleted Matches</h1>
	</div>
	<div class="row">
		<% @matches.each do |m| %>
				<a href="/restore/<%=@user.id%>/<%=m.match_id%>" class="waves-effect waves-light btn open_chat"><i class="material-icons left">chat_bubble_outline</i>Restore Match with <%= m.user.first_name %></a>
                <a href="/permanent/<%=@user.id%>/<%=m.match_id%>" class="waves-effect red waves-light btn open_chat"><i class="material-icons left">chat_bubble_outline</i>Permanent Delete</a>
        <% end %>
	
</div>