<script type="text/javascript">
$(document).ready(function() {
	
	  $('.collapsible').collapsible({
	  	accordion: false
	  });

      $('.slider').slider({full_width: true});
 });
</script>
<!-- HEADER -->
<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo left">Tender</a> 
	  <ul id="nav-mobile" class="right">
	    <li class="mini_pic">Signed in as: <%= @user.first_name %>
	    </li> 
	    <li>
	    	<img width="50" height="50" src="<%= @user.avatar.url %>" style="margin-top:7px" alt="profile_pic" class="circle">
		</li>
	    <li><a href="/logout">LOG OUT</a></li>
	  </ul>
	</div>
</nav>
<!-- BEGIN DASHBOARD -->
<div class="body_color">
<div class="container">
    <div class="row">
		<p> 
            <h1 class="left font">Welcome, <%= @user.first_name %>!</h1>
            <a href="/history/<%= @user.id %>" class="waves-effect waves-light btn-large red accent-1 deleted_match">Deleted Matches</a>
        </p>
	</div>
	<div class="row section border z-depth-4">

		<!-- USER PHOTO -->
		<a href="/users/<%= @user.id %>/profile"><img src="<%= @user.avatar.url %>" alt="User Photo" id="user_photo" class="z-depth-4 col s8 push-s2 m3 l3 circle responsive-img"></a>
		<!-- USER PROFILE INFO -->
		<div id="profile_info" class=" col s12 m8 l8 border">
			<a href="/users/<%= @user.id %>/edit" class="waves-effect waves-light btn-large edit_button light-blue accent-1">Edit Your Profile</a>
			<br>
			<a href="/personal/<%= @user.id %>/edit" class="waves-effect waves-light btn-large edit_button light-blue accent-1">Edit Your Questions</a>
		</div>
	</div>
	<h4 class="font" style="padding: 5px;">Your matches:</h4>
    <div class="row">
        <% if @matched_user %>
        <% if @questions %>
        <% @questions.each do |q| %>
        <% @matched_user.each do |c| %>
            <% if Match.find_by(user_id:@user.id, match_id: c.id).thumb != -1 && Match.find_by(user_id:@user.id, match_id: c.id).thumb != -2 %>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                <% if Message.where(match_id: c.id, user_id:current_user.id).sum(:count) < 50 %>
                    <img src="/assets/question.jpg" alt="Profile Image" class= "match_pic materialboxed">
                <% else %>
                    <img src="<%= c.avatar.url %>" alt="Profile Image" class= "match_pic materialboxed">
                <% end %>
                    <span class="card-title"><%= c.first_name %></span>
                </div>
                <div class="match-links">
                    <div class="match-link">
                        <a href="/users/<%= c.id %>/profile" class="center_align">Profile</a>
                    </div>
                    <% if c.answered(c.id, current_user.id) === false %>
                    <div class="match-link">
                        <a href="/questions/<%= c.id %>" class="center_align">Questions</a>
                    </div>
                    <% end %>
                </div>
                <div class="match-content">
                    <ul class="answer collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header valign-wrapper">
                                #1. <%= q.q1 %>
                            </div>
                            
                            <div class="collapsible-body" style="display: none;"> 
                         
                                <p>
                                    <b><%= q.user_answer1(c.id) %></b>
                                </p>
                        
                            </div>                        
                        </li>
                        <li>
                            <div class="collapsible-header">
                                #2. <%= q.q2 %>
                            </div>
                            <div class="collapsible-body" style="display: none;"> 
                            
                                <p>
                                    <b><%= q.user_answer2(c.id) %></b>
                                </p>
                            
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                #3. <%= q.q3 %>
                            </div>
                            <div class="collapsible-body" style="display: none;"> 
                                <p>
                                    <b><%= q.user_answer3(c.id) %></b>
                                </p>
                            </div>
                        </li>
                    </ul>

                    <% if Match.find_by(user_id:@user.id, match_id: c.id).thumb == 0 %>
                    <a href="/thumb/up/<%=@user.id%>/<%=c.id%>"><i class="small material-icons yes_vote">thumb_up</i></a>
                    <a href="/thumb/down/<%=@user.id%>/<%=c.id%>"><i class="small material-icons no_vote">thumb_down</i></a>
                    <% elsif Match.find_by(user_id:@user.id, match_id: c.id).thumb == 1 && Match.find_by(user_id:c.id, match_id: @user.id).thumb == 1%> 
                    <a href="/chat/<%= c.id %>" class="waves-effect waves-light btn open_chat"><i class="material-icons left">chat_bubble_outline</i>Open Chat</a>
                    <a href="/thumb/down/<%=@user.id%>/<%=c.id%>" class="waves-effect red waves-light btn open_chat"><i class="material-icons left">chat_bubble_outline</i>Delete</a>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %> <!-- to check to see if the user was previously deleted -->
        <% end %>
        <% end %>
        <% end %>
        <% end %>
    </div>			
</div>

<footer class="page-footer light-blue accent-1">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</div>
	


