<script type="text/javascript">
$(document).ready(function() {
	
	  $('.collapsible').collapsible({
	  	accordion: false
	  });

     $('#match1').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question1").fadeIn();
        return false;
      });

      $('#match2').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question2").fadeIn();
        return false;
      });

      $('#match3').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question3").fadeIn();
        return false;
      });

      $("#close").click(function(){
        $("#this").fadeOut();
        $("#this").fadeOut();
        return false;
      });
      $('.slider').slider({full_width: true});
 });
</script>
<!-- HEADER -->
<nav class="light-blue accent-1">
	<div class="nav-wrapper">
	  <a href="/" class="brand-logo left">Tender</a> 
	  <ul id="nav-mobile" class="right">
	    <li><a href="/logout">LOG OUT</a></li>
	    <span class="hide-on-med-and-down"><li>Signed in as: <%= @user.first_name %></li></span>
	  </ul>
	</div>
</nav>
<!-- BEGIN DASHBOARD -->
<div class="container">
    <div class="row">
		<h3 class="left">Welcome, <%= @user.first_name %>!</h3>
	</div>
	<div class="row section">
		<!-- USER PHOTO -->
		<img src="<%= @user.avatar.url %>" alt="User Photo" id="user_photo" class="col s8 push-s2 m3 l3">
		<!-- USER PROFILE INFO -->
		<div id="profile_info" class="col s12 m9 l9 border">
			<a href="/users/<%= @user.id %>/edit" class="waves-effect waves-light btn-large edit_button light-blue accent-1">Edit Your Profile</a>
			<br>
			<a href="/personal/<%= @user.id %>/edit" class="waves-effect waves-light btn-large edit_button light-blue accent-1">Edit Your Questions</a>
		</div>
	</div>

<% if flash[:answered] %>
<%= flash[:answered] %>
<% end %>
	<h2>Your matches:</h2>
	<div class="row">
		<% if @matched_user %>
		<% if @questions %>
		<% @questions.each do |q| %>
		<% @matched_user.each do |c| %>
			<% if Match.find_by(user_id:@user.id, match_id: c.id).thumb != -1 %>
		<div class="col s12 m4 l4">
			<div class="card">
				<div class="card-image">
		            <img src="<%= c.avatar.url %>" alt="Profile Image" class="border materialboxed">
		            <span class="card-title"><%= c.first_name %></span>
	            </div>
	            <div class="match-links">
					<div class="match-link">
						<a href="/users/<%= c.id %>/profile" class="center_align">Profile</a>
					</div>
					<% if c.answered(c.id, current_user.id) === false %>
					<div class="match-link">
						<a href="/questions/<%= c.id %>" class="center_align">Questions</a>
					</div>
					<% end %>
				</div>
			
				<div class="match-content">
					<ul class="answer collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header valign-wrapper">
								<%= q.q1 %>
							</div>
							
							<div class="collapsible-body" style="display: none;"> 
						 
								<p>
									<b><%= q.user_answer1(c.id) %></b>
								</p>
						
							</div>						
						</li>
						<li>
							<div class="collapsible-header">
								<%= q.q2 %>
							</div>
							<div class="collapsible-body" style="display: none;"> 
							
								<p>
									<b><%= q.user_answer2(c.id) %></b>
								</p>
							
							</div>
						</li>
						<li>
							<div class="collapsible-header">
								<%= q.q3 %>
							</div>
							<div class="collapsible-body" style="display: none;"> 
								<p>
									<b><%= q.user_answer3(c.id) %></b>
								</p>
							</div>


						</li>
					</ul>
					<% if Match.find_by(user_id:@user.id, match_id: c.id).thumb == 0 %>
					<a href="/thumb/up/<%=@user.id%>/<%=c.id%>"><i class="small material-icons yes_vote">thumb_up</i></a>
					<a href="/thumb/down/<%=@user.id%>/<%=c.id%>"><i class="small material-icons no_vote">thumb_down</i></a>
					<% elsif Match.find_by(user_id:@user.id, match_id: c.id).thumb == 1 && Match.find_by(user_id:c.id, match_id: @user.id).thumb == 1%> 
					<a href="" class="waves-effect waves-light btn open_chat"><i class="material-icons left">chat_bubble_outline</i>Open Chat</a>
					<% end %>
				</div>

			</div>

		</div>
		<% end %> <!-- to check to see if the user was previously deleted -->
		<% end %>
		<% end %>
		<% end %>
		<% end %>
	</div>				
</div>
<footer class="page-footer light-blue accent-1">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

	<!-- JQUERY DIVS -->
<div id="match_question_background">
</div>
<div id="match_question1">
	<h4>Match Questions</h4>
	<form action="/user/show" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		Question 1: <input type="text" name="question1">
		<br>
		Question 2: <input type="text" name="question1">
		<br>
		Question 3: <input type="text" name="question1">
		<br>
		<input type="submit">
	</form>
</div>

<div id="match_question2">
	<h4>Match Questions</h4>
	<form action="/user/show" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		Question 1: <input type="text" name="question1">
		<br>
		Question 2: <input type="text" name="question1">
		<br>
		Question 3: <input type="text" name="question1">
		<br>
		<input type="submit">
	</form>
</div>

<div id="match_question3">
	<h4>Match Questions</h4>
	<form action="/user/show" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		Question 1: <input type="text" name="question1">
		<br>
		Question 2: <input type="text" name="question1">
		<br>
		Question 3: <input type="text" name="question1">
		<br>
		<input type="submit">
	</form>
</div>


