<!DOCTYPE html>
<html>
<head>
  <title>RorProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= stylesheet_link_tag href="http://fonts.googleapis.com/icon?family=Material+Icons" %>
<%= stylesheet_link_tag href="css/materialize.min.css" %>
<%= javascript_include_tag src="https://code.jquery.com/jquery-2.1.1.min.js" %>
<%= stylesheet_link_tag href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" %>
<%= javascript_include_tag src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" %>
<%= javascript_include_tag src="js/materialize.min.js" %>



<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();

    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    format: 'yyyy-mm-dd' });

    $('.parallax').parallax();

     $('#match1').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question1").fadeIn();
        return false;
      });

      $('#match2').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question2").fadeIn();
        return false;
      });

      $('#match3').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question3").fadeIn();
        return false;
      });

      $("#close").click(function(){
        $("#this").fadeOut();
        $("#this").fadeOut();
        return false;
      });

      $('.slider').slider({full_width: true});
});



</script>
</head>
<body>
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %>
<% end %> 
<% end %>


<%= yield %>

</body>
</html>
