<!DOCTYPE html>
<html>
<head>
  <title>RorProject</title>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" %>
  <%= javascript_include_tag "http://127.0.0.1:8000/socket.io/socket.io.js" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dancing+Script" %>

<script type="text/javascript">
$(document).ready(function() {
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    format: 'yyyy-mm-dd' });

    $('.parallax').parallax();

     $('#match1').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question1").fadeIn();
        return false;
      });

      $('#match2').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question2").fadeIn();
        return false;
      });
      $('#match3').click(function(){
        $("#match_question_background").fadeIn();
        $("#match_question3").fadeIn();
        return false;
      });

      $("#close").click(function(){
        $("#this").fadeOut();
        $("#this").fadeOut();
        return false;
      });

});

</script>

</head>
<body>

  <%= yield %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
   <p> <%= error %></p>
     <% end %> 
  <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
     <p class="errors">**<%= error %>**</p>
       <% end %> 
    <% end %>

</body>
</html>
